<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
      <div class="row">
          <div class="col-xl-6 col-xxl-12">
              <div class="row">

                <div class="col-lg-4 col-sm-6"  routerLink="proAll" style="cursor: pointer;">

                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                              <span class="activity-icon bgl-danger mr-md-4 mr-3">
                                  <img src="assets/gymove/images/inventory.png" alt="" height="64">
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Inventario</p>
                                    <!-- <span class="title text-black font-w600">{{allSize}}</span> -->
                                    <span class="title text-black font-w600" *ngIf="allSize<=0"> Loading ... </span>
                                    <span class="title text-black font-w600" *ngIf="allSize>0">{{allSize}} productos </span>
                           
                                </div>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-info" style="width: 82%; height:5px;" role="progressbar">
                                    <span class="sr-only">42% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="effect bg-info"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6"  routerLink="cateall" style="cursor: pointer;">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                              <span class="activity-icon bgl-danger mr-md-4 mr-3">
                                  <img src="assets/gymove/images/categorias.png" alt="" height="64">
                                </span>
                                <div class="media-body">
                                    <p class="fs-14 mb-2">Inventario</p>
                                    <span class="title text-black font-w600" *ngIf="yeoman.allCategoriesSize<=0"> Loading ... </span>
                                    <span class="title text-black font-w600" *ngIf="yeoman.allCategoriesSize>0">{{yeoman.allCategoriesSize}} Categorias </span>
                           
                                </div>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-info" style="width: 82%; height:5px;" role="progressbar">
                                    <span class="sr-only">42% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="effect bg-info"></div>
                    </div>
                </div>
                  <div class=" col-lg-4 col-sm-6"  routerLink="" style="cursor: pointer;">
                      <div class="card avtivity-card">
                          <div class="card-body">
                              <div class="media align-items-center">
                                  <span class="activity-icon bgl-success mr-md-4 mr-3">
                                    <img src="assets/gymove/images/ordenes.png" alt="" height="64">
                                  </span>
                                  <div class="media-body">
                                      <p class="fs-14 mb-2">Ordenes</p>

                                      <span class="title text-black font-w600" *ngIf=""> Loading ... </span>
                                      <span class="title text-black font-w600" *ngIf=""> Solicitudes </span>
                                      <!-- <span class="title text-black font-w600" *ngIf="yeoman.existenciasSize<=0"> Loading ... </span>
                                      <span class="title text-black font-w600" *ngIf="yeoman.existenciasSize>0">{{yeoman.existenciasSize}} Solicitudes </span>
                                  -->
                                    </div>
                              </div>
                              <div class="progress" style="height:5px;">
                                  <div class="progress-bar bg-success" style="width: 42%; height:5px;" role="progressbar">
                                      <span class="sr-only">42% Complete</span>
                                  </div>
                              </div>
                          </div>
                          <div class="effect bg-success"></div>
                      </div>
                  </div>
                 
                
      </div>
  </div>
</div>
