<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class=" ai-icon" routerLink="/" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
              
            </li>
            <li><a class="ai-icon" routerLink="cateall" aria-expanded="false">
                <!-- <i class="flaticon-381-internet"></i> -->
                <i class="flaticon-381-layer"></i>
                <span class="nav-text">Categorias</span>
                </a>
            </li>    

            <li><a class="ai-icon" routerLink="proAll" aria-expanded="false">
                <!-- <i class="flaticon-381-internet"></i> -->
                <i class="flaticon-381-layer-1"></i>
                <span class="nav-text">Productos</span>
                </a>
            </li>
            <li><a class="ai-icon" routerLink="externalData" aria-expanded="false">
                <i class="flaticon-381-internet"></i>
                <span class="nav-text">Ordenes de compra</span>
                </a>
            </li>
        </ul>
        

        <div class="copyright">
            <p>Tienda<strong>Acero y más</strong> </p>
            <p>Un producto de <span class="heart"></span> Buckapi © 2024</p>
        </div>
    </div>
</div>